* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(209, 237, 250, 0.8);
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
    font-family: "Urbanist", sans-serif;
}

header a {
    text-decoration: none;
    color: #4C4C4C;
    padding: 0 2em;
    font-family: "Outfit", sans-serif;
}

header a:hover {
    color: #a8a8a8;
}

.home {
    font-weight: bold;
    margin-right: auto;
    font-family: "Outfit", sans-serif;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: #4C4C4C;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-family: "Outfit", sans-serif;
    font-size: 0.7em;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #868686;
}

.dropdown:hover .dropdown-content {
    display: block;
}


body {
    font-family: "Outfit", sans-serif;
    background-color: #D1EDFA;
    color: #333;
    margin: 0;
    padding: 5px;
}

.content-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}


.page-title h1 {
    text-align: center;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 1em 0;
}

.page-title h3 {
    font-family: "Outfit", sans-serif;
}


.intro p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}


.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}


.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h2 {
    font-size: 1.5em;
    color: #4C4C4C;
    margin: 15px 0;
}

.project-card p {
    font-size: 1em;
    line-height: 1.4;
    color: #666;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-top: 15px;
}


.project {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 2px;
}

.project h3 {
    font-size: 1.2em;
    margin: 15px 0;
    color: #333;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.project a {
    text-decoration: none;
    color: black;
    font-size: 0.7em;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #D1EDFA;
    color: rgb(150, 150, 150);
    margin-top: 40px;
}
